<div class="bg-light-gray">
    <div class="container">
        <div class="article-tab row d-flex">
            <div class="col-xl-5 align-self-center text-uppercase text-gray d-none d-xl-block"><span>Read</span> Mode</div> 
            <div class="col-xl-4 align-self-end">
                <ul class="nav  mt-1 mt-md-2 nav-pills nav-fill border-bottom-0 active" id="countries-tab" role="tablist">
                    <li class="nav-item {{read_tab}}">
                        <a href="/{{pagetitle}}" class="nav-link text-dark-gray py-1 py-md-2 {{read_tab}}" data-toggle="" data-target="#read" role="tab" aria-selected="true">Read</a>
                    </li>
                    <li class="nav-item {{edit_tab}}">
                        <a href="/{{pagetitle}}?action=formedit" class="nav-link text-dark-gray py-1 py-md-2 {{edit_tab}}" data-toggle="" data-target="" role="tab" aria-selected="false">Edit</a>
                    </li>
                    <!--
                    <li class="nav-item {{discussion_tab}}">
                        <a href="/Talk:{{pagetitle}}" class="nav-link text-dark-gray py-1 py-md-2 {{discussion_tab}}" data-toggle="" data-target="" role="tab" aria-selected="false">Discussion</a>
                    </li>
                    -->
                    <li class="nav-item {{history_tab}}">
                        <a href="/{{pagetitle}}?action=history" class="nav-link text-dark-gray py-1 py-md-2 {{history_tab}}" data-toggle="" data-target="" role="tab" aria-selected="false">History</a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
</div>

<div class="container tab-content">
    <div class="tab-pane bg-white active" id="tab-read" role="tabpanel">
        <article class="article">
            <div class="article__intro pt-2 pt-md-3 pr-0 pr-lg-4">
                <h1 class="h2">{{pagetitle}}</h1>
                <p class="mb-1">{{description}}</p>
            </div>
            <div class="article__content border-bottom-lg pt-0 pt-md-3 pr-0 pr-lg-4">
                {{{html-body-content}}}
            </div>
            <aside class="article__sidebar">
                <div class="bg-lighter-gray mx-n1 mx-md-0 pb-lg-5 mb-1 mb-lg-0 ml-lg-2">
                    <figure class="figure">
                        <img src="{{img}}" class="figure-img img-fluid mb-0" alt="">
                        <figcaption class="figure-caption text-left bg-light-gray px-1 px-md-3 py-1">{{img-caption}}</figcaption>
                    </figure>
                    <div class="px-1 p-md-3">
                        <div><span class="text-gray">Nation:</span> {{#countries}}<a href="{{.}}">{{.}}</a>{{^-last}}, {{/-last}}{{/countries}} </div>
                        <div><span class="text-gray">Region:</span> {{#regions}}<a href="{{.}}">{{.}}</a>{{^-last}}, {{/-last}}{{/regions}}</div>
                    </div>
                    <hr>
                    <div class="px-1 p-md-3">
                        <div class="text-gray text-uppercase pb-1">Categories</div>
                        <div class="categories categories--list">
                            {{#subjects}}
                                <a href="/{{subject_name}}" class="subject-card bg-{{subject_name_lower}} subject-card--small mb-1 h4  d-flex align-items-center justify-content-end justify-content-lg-center">
                                    <span class="font-heading text-white justify-content-center pl-md-5 ml-md-4  pl-1 mb-0 category-text">{{subject_name}}</span>
                                </a>
                            {{/subjects}}
                        </div>
                    </div>
                    <hr>
                    <div class="px-1 p-md-3">
                        <div class="text-gray text-uppercase pb-1">Sustainable development goals</div>
                        {{#sdg}}<a class="a-link with-prefix d-block" href="/{{.}}">{{.}}</a>{{/sdg}}
                    </div>
                    <hr>
                    <div class="px-1 p-md-3 pb-3">
                        <div class="text-gray text-uppercase pb-1">Tags</div>
                        {{#tags}}<a href="#" class="btn btn-outline-secondary text-uppercase px-3 text-primary">{{.}}</a>{{/tags}}
                    </div>
                    <hr class="pb-lg-5 mb-0 d-none d-lg-block">
                
                </div>
            </aside>                
        </article>
    </div>

    <div class="tab-pane bg-white" id="tab-edit" role="tabpanel">
        Edit 
    </div>
    <div class="tab-pane bg-white" id="tab-discussion" role="tabpanel">
        Discussion
    </div>
    <div class="tab-pane bg-white" id="tab-history" role="tabpanel">
        History
    </div>
</div>