<div class="bg-{{pagetitle_smallcase}} category-header category-header--{{pagetitle_smallcase}} text-center d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-white">{{pagetitle}}</h1>
</div>
<div class="bg-lighter-gray pt-1 pb-md-3">
    <div class="countries-multi-level-tabs countries-tab countries-tab--{{pagetitle_smallcase}} countries-tab--multi-level container">
    
        <div class="d-none d-lg-block py-2 bg-lighter-gray my-3">
            <ul class="main-tabs nav nav-pills nav-fill border-bottom-0 mx-n1 mx-md-n1" role="tablist">
                <li class="nav-item mx-1 mb-1 mb-md-2 active">
                    <a href="#countries-africa-multi" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2 active" data-toggle="tab" data-target="#countries-africa-multi" role="tab" aria-selected="true">Africa</a>
                </li>
                <li class="nav-item mx-1 mb-1 mb-md-2">
                    <a href="#countries-asia-multi" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-asia-multi" role="tab" aria-selected="false">Asia</a>
                </li>
                <li class="nav-item mx-1 mb-1 mb-md-2">
                    <a href="#countries-europe-multi" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-europe-multi" role="tab" aria-selected="false">Europe</a>
                </li>
                <li class="nav-item mx-1 mb-1 mb-md-2">
                    <a href="#countries-americas-multi" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-americas-multi" role="tab">Americas</a>
                </li>
                <li class="nav-item mx-1 mb-1 mb-md-2">
                    <a href="#countries-oceania-multi" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-oceania-multi" role="tab">Oceania</a>
                </li>
            </ul>
            <div class="tab-content pt-1 pt-md-2 bg-{{pagetitle_smallcase}}" id="countries-tabContent">
                <div class="tab-pane bg-white active" id="countries-africa-multi" role="tabpanel">
                    <div class="p-5 navbar d-block">
                        <ul class="countries-cols css-columns-lg-4 list-unstyled">
                            {{#Africa_filtered}}<li>
                                <a href="#" class="nav-link a-link d-inline-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{country}} ({{count}})</a>
                                <div class="dropdown-menu position-absolute w-100 pt-0 ml-n2 show">
                                    <div class="dropdown-header d-flex align-items-center bg-primary text-white">
                                        <h3 class="h2 d-none d-md-block">{{country}}</h3>
                                        <a href="/{{country}}" class="a-link with-prefix text-white ml-auto h5 font-body mb-0 ">Go to {{country}} ({{count}}) </a>
                                        <div class="dropdown-close d-none bg-white text-primary rounded-circle ml-5 d-md-flex justify-content-center align-items-center">×</div>
                                    </div>
                                    <div class="row p-2 py-3">
                                        <div class="col-12 col-md-12">{{#list}}
                                            <a class="nav-link with-prefix " href="/{{.}}">{{.}}</a>{{/list}}
                                        </div>
                                    </div>
                                </div>
                            </li>{{/Africa_filtered}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane bg-white" id="countries-asia-multi" role="tabpanel">
                    <div class="p-5 navbar d-block">
                        <ul class="countries-cols css-columns-lg-4 list-unstyled">
                            {{#Asia_filtered}}<li><a href="#" class="nav-link a-link d-inline-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{country}} ({{count}})</a></li>{{/Asia_filtered}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane bg-white" id="countries-europe-multi" role="tabpanel">
                    <div class="p-5 navbar d-block">
                        <ul class="countries-cols css-columns-lg-4 list-unstyled">
                            {{#Europe_filtered}}<li><a href="{{country}}" class="nav-link">{{country}} ({{count}})</a></li>{{/Europe_filtered}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane bg-white" id="countries-americas-multi" role="tabpanel">
                    <div class="p-5 navbar d-block">
                        <ul class="countries-cols css-columns-lg-4 list-unstyled">
                            {{#Americas_filtered}}<li><a href="{{country}}" class="nav-link">{{country}} ({{count}})</a></li>{{/Americas_filtered}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane bg-white" id="countries-oceania-multi" role="tabpanel">
                    <div class="p-5 navbar d-block">
                        <ul class="countries-cols css-columns-lg-4 list-unstyled">
                            {{#Oceania_filtered}}<li><a href="{{country}}" class="nav-link">{{country}} ({{count}})</a></li>{{/Oceania_filtered}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="countries-form-multi-level" class=" d-block d-lg-none py-1 d-block d-lg-none">
            <form class="countries-form">
                <select class="select-continent custom-select mb-2" aria-label="Default select example">
                    <option selected="">Select Continent</option>
                <option value="Africa">Africa</option><option value="Asia">Asia</option><option value="Europe">Europe</option><option value="Americas">Americas</option><option value="Oceania">Oceania</option></select>
                <select class="select-country custom-select" aria-label="Default select example">
                    <option value="" disabled="" selected="">Select a continent first</option>
                </select> 
                <div class="mt-3 text-center">
                    <input type="submit" value="Confirm" class="btn text-uppercase btn-secondary text-white">
                </div>    
                <ul class="categories-select-content p-1 mt-3 bg-white list-unstyled">
                    <div class="py-5 text-center text-gray h4 font-body">Select a Country<br> from the upper panel</div>
                </ul>                           
            </form>
        </div>
    
    </div>
</div>    
