<div class="main-content">
    <div class="bg-{{pagetitle_smallcase}} category-header category-header--{{pagetitle_smallcase}}">
        <div class="container text-center d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-white">{{pagetitle}}</h1>
        </div>
    </div>
</div>
