{{>Header}}

<div class="main-content">
	{{#is-mainpage}}
		{{>Homepage}}
		{{>subjects-and-countries}}
		{{>article_items}}
	{{/is-mainpage}}
	{{#category_page}}
		{{>category}}
	{{/category_page}}
	{{#country_page}}
		{{>country}}
	{{/country_page}}
	{{#article_page}}
		{{>article}}
	{{/article_page}}
</div>
{{>Footer}}
