{{>Header}}

<div class="main-content">
	{{#is-mainpage}}
		{{>Homepage}}
		{{>subjects-and-countries}}
		{{>article_items}}
	{{/is-mainpage}}
	{{#category_page}}
		{{>CategoryPortlet}}
	{{/category_page}}
</div>
{{>Footer}}
